.scores {
  width: 100%;
  text-align: center;
  font-size: 30px;
  background: #2A77AE;
  margin-bottom: 0;
  padding: 5px;
}

.score {
  text-align: left;
}

.message {
  text-align: center;
}

.highscore {
  text-align: right;
}